:8081

route {
    route /api/v1/image {
        reverse_proxy :8000
    }
    route /api/v1/image/* {
        reverse_proxy :8000
    }
    route /api/v1/* {
        reverse_proxy :8080
    }
    reverse_proxy :3000
}
